html,body{
  text-align: center;
}

nav {
  opacity: 0.5;
}

header {
  background-image: url("assets/apple-desk-laptop-working.jpg");
  /*background-image: url("assets/macbook-computer-clean-hero.jpg");*/
  background-repeat: no-repeat;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.portrait {
  padding-top: 10%;
  position: relative;
}

.clip-circle {
  background:url("assets/headshot.jpg") no-repeat;
  background-size:400px 600px;
  background-position:-10px 0;
  height:400px;
  width:400px;
  border-radius:50%;
  /*overflow:hidden;*/
  margin: auto;
  /*position: relative;*/
  border-color: white;
  border-style: solid;
  border-width: 15px;
}

.white {
  color: white;
}

.quote {
  font-size: 2em;
}

#about-section {
  height: 200px;
  background-color: orange;
}

#services-section {
  padding-top: 5%;
  /*color: white;*/
  height: 200px;
  /*background-color: white;*/
}

#portfolio-section {
  color: white;
  background-color: #303030;
}

.portfolio-image {
  margin: 0;
  padding: 0;
  height: 20%;
}

#contact-section {
  padding-top: 7%;
  padding-bottom: 35%;
  height: 100px;
}

.email {
  font-size: 4em;
  padding-top: 2%;
}

a:hover {
  text-decoration: none;
}
