html,body{
  text-align: center;
}

nav {
  opacity: 0.5;
}

header {
  background-image: url("assets/apple-desk-laptop-working.jpg");
  /*background-image: url("assets/macbook-computer-clean-hero.jpg");*/
  background-repeat: no-repeat;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.portrait {
  padding-top: 10%;
  position: relative;
}

.clip-circle {
  background:url("assets/headshot.jpg") no-repeat;
  background-size:400px 600px;
  background-position:-10px 0;
  height:400px;
  width:400px;
  border-radius:50%;
  /*overflow:hidden;*/
  margin: auto;
  /*position: relative;*/
  border-color: white;
  border-style: solid;
  border-width: 15px;
}

.white {
  color: white;
}

.quote {
  font-size: 2em;
}

.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#about-section {
  height: 400px;
  background-color: #ee4b28;
}

#services-section {
  height: 400px;
}

#portfolio-section {
  height: 500px;
  /*background-color: #303030;*/
}

.portfolio-image {
  margin: 0;
  padding: 0;
  height: 20%;
}

#contact-section {
  padding-top: 7%;
  padding-bottom: 35%;
  height: 100px;
}

.email {
  font-size: 4em;
  padding-top: 2%;
}

#icons {
  padding-top: 2%;
}

.icon {
  padding: 0 10px 0 10px;
}

a:hover {
  text-decoration: none;
}

.description {
  font-family: serif;
  font-style: italic;
  padding-left: 20%;
  padding-right: 20%;
  font-size: .8em;
}

#skills-description {
  color: #E6E6E6;
}

#service-description {
  color: #7D1900;
}
